<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>${user.home}/.m2/repository</localRepository>
    <interactiveMode>true</interactiveMode>
    <offline>false</offline>
    <servers>
        <server>
            <id>my-artifactory</id>
            <username>demo-user</username>
            <password>dummy-password</password>
            <privateKey>${user.home}/.ssh/my_key</privateKey>
            <passphrase>dummy-passphrase</passphrase>
            <filePermissions>664</filePermissions>
            <directoryPermissions>775</directoryPermissions>
            <configuration></configuration>
        </server>
    </servers>
    <activeProfiles>
           <activeProfile>baeldung-test</activeProfile>
           <activeProfile>adobe-public</activeProfile>
    </activeProfiles>
    <profiles>
        <profile>
            <id>Staging</id>
            <activation>
                <activeByDefault>false</activeByDefault>
                <jdk>1.8</jdk>
                <os>
                    <name>Ubuntu</name>
                    <family>Linux</family>
                    <arch>x86</arch>
                    <version>20.04</version>
                </os>
                <property>
                    <name>mavenVersion</name>
                    <value>5.3.2</value>
                </property>
                <file>
                    <exists>${basedir}/activation-file.properties</exists>
                    <missing>${basedir}/deactivation-file.properties</missing>
                </file>
            </activation>
            <repositories>
	        <repository>
	            <id>artifactory-staging</id>
	            <name>Staging</name>
	            <url>https://mycompany.jfrog.io/maven/public</url>
	            <releases>
	                <enabled>true</enabled>
	                <updatePolicy>never</updatePolicy>
	            </releases>
	            <snapshots>
	                <enabled>false</enabled>
	            </snapshots>
	        </repository>
	    </repositories>
        </profile>
    </profiles>
</settings>
